
<div class="single_item-wrap">
  <i class="fa icons completed-icon" aria-hidden="true" [class.fa-check-square]="singleItem.completed" [class.fa-square-o]="!singleItem.completed" (click)="toggleCompleted()"></i>
  <div class="priority" [class.priority-medium]="singleItem.priority == Priority.MEDIUM" [class.priority-high]="singleItem.priority == Priority.HIGH"></div>
  <span class="task-text" [class.isCompleted]="singleItem.completed" (click)="onSelect(singleItem)">{{singleItem.task}}</span>
  <i class="fa fa-trash-o icons trash-icon" aria-hidden="true" (click)="deleteItem()"></i>
</div>