<div class="main_title">Create new ToDo Item</div>
<nav>
  <a routerLink="/home" class="nav_item">Home</a>
  <a routerLink="/create" class="nav_item">Create</a>
</nav>
<form (ngSubmit)="submit()">
  <input type="text" placeholder="Task description" [(ngModel)]="item.task" name="task">
  <label class="container">LOW
    <input type="radio" (click)="item.priority = Priority.LOW" name="low">
  </label>
  <label class="container">MEDIUM
    <input type="radio" (click)="item.priority = Priority.MEDIUM" name="medium">
  </label>
  <label class="container">HIGH
    <input type="radio" (click)="item.priority = Priority.HIGH" name="high">
  </label>
  <button class="primary-button" [disabled]="item.task<=0">CREATE</button>
</form>

{{Priority[item.priority]}}